* {
	margin: 0;
	padding: 0;
}

html {
	font-size: clamp(12px, 3vw, 16px);
}

body {
	background-color: #0e0e0e;
	color: #fff;
	font-family: "Open Sans Regular", sans-serif;
}

.index {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: 40px;

	height: 90vh;

	text-align: center;

	padding: clamp(50px, 10vh, 80px) 30px 0px 30px;

	.links {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		gap: 20px;

		width: 100%;
		box-sizing: border-box;
		padding: 0px clamp(20px, 30vw, 100px);

		a {
			flex-grow: 1;
			box-sizing: border-box;

			border-radius: 8px;

			text-decoration: none;
			color: white;
			background-color: #080808;
			padding: 10px 20px;

			transition: all 200ms;

			&:hover {
				background-color: #1e1e1e;
			}
		}
	}
}

.images-page {
	padding-top: clamp(50px, 10vh, 80px);

	& > * {
		margin: clamp(20px, 8vh, 30px) 0px clamp(80px, 10vw, 120px) 0px;

		overflow-x: hidden;
	}

	.image-panel {
		& > * {
			margin: clamp(10px, 2vw, 20px) 0px;
		}
	}

	.editor {
		display: flex;
		flex-flow: column;
		align-items: stretch;

		padding: 0px clamp(10px, 10vw, 200px);

		img,
		iframe,
		video {
			border-radius: 10px;
		}

		& > * {
			margin: clamp(10px, 2vw, 15px) auto;
		}
	}
}

h1 {
	font-size: 3rem;
}

h2 {
	margin: 0px 0px 40px 0px;
	padding: 0px 0px 0px clamp(5px, 3vw, 20px);
	font-size: 2rem;
}

.tabs {
	background-color: #080808;
}

.tab {
	color: #fff !important;
}

.svg-page {
	svg {
		height: clamp(150px, 20vw, 400px);
		width: clamp(150px, 20vw, 400px);
	}
}
